$mdc-theme-primary: #f8bbd0; // #fedbd0
$mdc-theme-primary-variant: #f48fb1;
$mdc-theme-on-primary: #442c2e;
$mdc-theme-secondary: #ff80ab; // #feeae6
$mdc-theme-secondary-variant: #ff4081;
$mdc-theme-on-secondary: #442c2e;
$mdc-theme-surface: #fce4ec; // #fffbfa
$mdc-theme-on-surface: #442c2e;
$mdc-theme-surface-secondary: #442c2e;
$mdc-theme-on-surface-secondary: #fce4ec;
$mdc-theme-background: #fff;
$mdc-theme-on-background: #000;
$mdc-theme-error: #B00020;
$mdc-theme-on-error: #FFF;
$mdc-text-theme-on-background: #000;
$mdc-text-theme-on-background-rgb: 0, 0, 0;
$mdc-text-theme-primary-on-background: rgba(0, 0, 0, .87);
$mdc-text-theme-secondary-on-background: rgba(0, 0, 0, .6);
$mdc-text-theme-disabled-on-background: rgba(0, 0, 0, .38);
$mdc-text-theme-on-background-inverse: #fff;
$mdc-text-theme-on-background-inverse-rgb: 255, 255, 255;
$mdc-text-theme-primary-on-background-inverse: rgba(255, 255, 255, .87);
$mdc-text-theme-secondary-on-background-inverse: rgba(255, 255, 255, .6);
$mdc-text-theme-disabled-on-background-inverse: rgba(255, 255, 255, .38);
$mdc-text-theme-on-light: #000;
$mdc-text-theme-on-light-rgb: 0, 0, 0;
$mdc-text-theme-primary-on-light: rgba(0, 0, 0, .87);
$mdc-text-theme-secondary-on-light: rgba(0, 0, 0, .6);
$mdc-text-theme-disabled-on-light: rgba(0, 0, 0, .38);
$mdc-text-theme-on-dark: #fff;
$mdc-text-theme-on-dark-rgb: 255, 255, 255;
$mdc-text-theme-primary-on-dark: rgba(255, 255, 255, .87);
$mdc-text-theme-secondary-on-dark: rgba(255, 255, 255, .6);
$mdc-text-theme-disabled-on-dark: rgba(255, 255, 255, .38);
$mdc-font-family-1: Rubik, Roboto, Arial, sans-serif;
$mdc-font-family-2: Roboto, Arial, sans-serif;
$mdc-elevation--z1: 0 2px 1px -1px rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 1px 3px 0 rgba(0, 0, 0, .12);
$mdc-elevation--z2: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
$mdc-elevation--z3: 0 3px 3px -2px rgba(0, 0, 0, .2), 0 3px 4px 0 rgba(0, 0, 0, .14), 0 1px 8px 0 rgba(0, 0, 0, .12);
$mdc-elevation--z4: 0 2px 4px -1px rgba(0, 0, 0, .2), 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12);
$mdc-elevation--z5: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 5px 8px 0 rgba(0, 0, 0, .14), 0 1px 14px 0 rgba(0, 0, 0, .12);
$mdc-elevation--z6: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);
$mdc-elevation--z7: 0 4px 5px -2px rgba(0, 0, 0, .2), 0 7px 10px 1px rgba(0, 0, 0, .14), 0 2px 16px 1px rgba(0, 0, 0, .12);
$mdc-elevation--z8: 0 5px 5px -3px rgba(0, 0, 0, .2), 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12);
$mdc-elevation--z9: 0 5px 6px -3px rgba(0, 0, 0, .2), 0 9px 12px 1px rgba(0, 0, 0, .14), 0 3px 16px 2px rgba(0, 0, 0, .12);
$mdc-elevation--z10: 0 6px 6px -3px rgba(0, 0, 0, .2), 0 10px 14px 1px rgba(0, 0, 0, .14), 0 4px 18px 3px rgba(0, 0, 0, .12);
$mdc-elevation--z11: 0 6px 7px -4px rgba(0, 0, 0, .2), 0 11px 15px 1px rgba(0, 0, 0, .14), 0 4px 20px 3px rgba(0, 0, 0, .12);
$mdc-elevation--z12: 0 7px 8px -4px rgba(0, 0, 0, .2), 0 12px 17px 2px rgba(0, 0, 0, .14), 0 5px 22px 4px rgba(0, 0, 0, .12);
$mdc-elevation--z13: 0 7px 8px -4px rgba(0, 0, 0, .2), 0 13px 19px 2px rgba(0, 0, 0, .14), 0 5px 24px 4px rgba(0, 0, 0, .12);
$mdc-elevation--z14: 0 7px 9px -4px rgba(0, 0, 0, .2), 0 14px 21px 2px rgba(0, 0, 0, .14), 0 5px 26px 4px rgba(0, 0, 0, .12);
$mdc-elevation--z15: 0 8px 9px -5px rgba(0, 0, 0, .2), 0 15px 22px 2px rgba(0, 0, 0, .14), 0 6px 28px 5px rgba(0, 0, 0, .12);
$mdc-elevation--z16: 0 8px 10px -5px rgba(0, 0, 0, .2), 0 16px 24px 2px rgba(0, 0, 0, .14), 0 6px 30px 5px rgba(0, 0, 0, .12);
$mdc-elevation--z17: 0 8px 11px -5px rgba(0, 0, 0, .2), 0 17px 26px 2px rgba(0, 0, 0, .14), 0 6px 32px 5px rgba(0, 0, 0, .12);
$mdc-elevation--z18: 0 9px 11px -5px rgba(0, 0, 0, .2), 0 18px 28px 2px rgba(0, 0, 0, .14), 0 7px 34px 6px rgba(0, 0, 0, .12);
$mdc-elevation--z19: 0 9px 12px -6px rgba(0, 0, 0, .2), 0 19px 29px 2px rgba(0, 0, 0, .14), 0 7px 36px 6px rgba(0, 0, 0, .12);
$mdc-elevation--z20: 0 10px 13px -6px rgba(0, 0, 0, .2), 0 20px 31px 3px rgba(0, 0, 0, .14), 0 8px 38px 7px rgba(0, 0, 0, .12);
$mdc-elevation--z21: 0 10px 13px -6px rgba(0, 0, 0, .2), 0 21px 33px 3px rgba(0, 0, 0, .14), 0 8px 40px 7px rgba(0, 0, 0, .12);
$mdc-elevation--z22: 0 10px 14px -6px rgba(0, 0, 0, .2), 0 22px 35px 3px rgba(0, 0, 0, .14), 0 8px 42px 7px rgba(0, 0, 0, .12);
$mdc-elevation--z23: 0 11px 14px -7px rgba(0, 0, 0, .2), 0 23px 36px 3px rgba(0, 0, 0, .14), 0 9px 44px 8px rgba(0, 0, 0, .12);
$mdc-elevation--z24: 0 11px 15px -7px rgba(0, 0, 0, .2), 0 24px 38px 3px rgba(0, 0, 0, .14), 0 9px 46px 8px rgba(0, 0, 0, .12);
$mdc-shadow-transition_-_transition: box-shadow .28s cubic-bezier(.4, 0, .2, 1);
$mdc-standard-easing: cubic-bezier(.4, .0, .2, 1);
$mdc-decelerated-easing: cubic-bezier(.0, .0, .2, 1);
$mdc-accelerated-easing: cubic-bezier(.4, .0, 1, 1);

:root {
  --mdc-theme-primary: #{$mdc-theme-primary};
  --mdc-theme-primary-variant: #{$mdc-theme-primary-variant};
  --mdc-theme-on-primary: #{$mdc-theme-on-primary};
  --mdc-theme-secondary: #{$mdc-theme-secondary};
  --mdc-theme-secondary-variant: #{$mdc-theme-secondary-variant};
  --mdc-theme-on-secondary: #{$mdc-theme-on-secondary};
  --mdc-theme-error: #{$mdc-theme-error};
  --mdc-theme-on-error: #{$mdc-theme-on-error};
  --mdc-theme-background: #{$mdc-theme-background};
  --mdc-theme-on-background: #{$mdc-theme-on-background};
  --mdc-theme-surface: #{$mdc-theme-surface};
  --mdc-theme-on-surface: #{$mdc-theme-on-surface};
  --mdc-theme-surface-secondary: #{$mdc-theme-surface-secondary};
  --mdc-theme-on-surface-secondary: #{$mdc-theme-on-surface-secondary};
  --mdc-font-family-1: #{$mdc-font-family-1};
  --mdc-font-family-2: #{$mdc-font-family-2};
  --mdc-text-theme-on-background: #{$mdc-text-theme-on-background};
  --mdc-text-theme-on-background-rgb: #{$mdc-text-theme-on-background-rgb};
  --mdc-text-theme-primary-on-background: #{$mdc-text-theme-primary-on-background};
  --mdc-text-theme-secondary-on-background: #{$mdc-text-theme-secondary-on-background};
  --mdc-text-theme-disabled-on-background: #{$mdc-text-theme-disabled-on-background};
  --mdc-text-theme-on-background-inverse: #{$mdc-text-theme-on-background-inverse};
  --mdc-text-theme-on-background-inverse-rgb: #{$mdc-text-theme-on-background-inverse-rgb};
  --mdc-text-theme-primary-on-background-inverse: #{$mdc-text-theme-primary-on-background-inverse};
  --mdc-text-theme-secondary-on-background-inverse: #{$mdc-text-theme-secondary-on-background-inverse};
  --mdc-text-theme-disabled-on-background-inverse: #{$mdc-text-theme-disabled-on-background-inverse};
  --mdc-text-theme-on-light: #{$mdc-text-theme-on-light};
  --mdc-text-theme-on-light-rgb: #{$mdc-text-theme-on-light-rgb};
  --mdc-text-theme-primary-on-light: #{$mdc-text-theme-primary-on-light};
  --mdc-text-theme-secondary-on-light: #{$mdc-text-theme-secondary-on-light};
  --mdc-text-theme-disabled-on-light: #{$mdc-text-theme-disabled-on-light};
  --mdc-text-theme-on-dark: #{$mdc-text-theme-on-dark};
  --mdc-text-theme-on-dark-rgb: #{$mdc-text-theme-on-dark-rgb};
  --mdc-text-theme-primary-on-dark: #{$mdc-text-theme-primary-on-dark};
  --mdc-text-theme-secondary-on-dark: #{$mdc-text-theme-secondary-on-dark};
  --mdc-text-theme-disabled-on-dark: #{$mdc-text-theme-disabled-on-dark};
  --mdc-elevation--z1: #{$mdc-elevation--z1};
  --mdc-elevation--z2: #{$mdc-elevation--z2};
  --mdc-elevation--z3: #{$mdc-elevation--z3};
  --mdc-elevation--z4: #{$mdc-elevation--z4};
  --mdc-elevation--z5: #{$mdc-elevation--z5};
  --mdc-elevation--z6: #{$mdc-elevation--z6};
  --mdc-elevation--z7: #{$mdc-elevation--z7};
  --mdc-elevation--z8: #{$mdc-elevation--z8};
  --mdc-elevation--z9: #{$mdc-elevation--z9};
  --mdc-elevation--z10: #{$mdc-elevation--z10};
  --mdc-elevation--z11: #{$mdc-elevation--z11};
  --mdc-elevation--z12: #{$mdc-elevation--z12};
  --mdc-elevation--z13: #{$mdc-elevation--z13};
  --mdc-elevation--z14: #{$mdc-elevation--z14};
  --mdc-elevation--z15: #{$mdc-elevation--z15};
  --mdc-elevation--z16: #{$mdc-elevation--z16};
  --mdc-elevation--z17: #{$mdc-elevation--z17};
  --mdc-elevation--z18: #{$mdc-elevation--z18};
  --mdc-elevation--z19: #{$mdc-elevation--z19};
  --mdc-elevation--z20: #{$mdc-elevation--z20};
  --mdc-elevation--z21: #{$mdc-elevation--z21};
  --mdc-elevation--z22: #{$mdc-elevation--z22};
  --mdc-elevation--z23: #{$mdc-elevation--z23};
  --mdc-elevation--z24: #{$mdc-elevation--z24};
  --mdc-shadow-transition_-_transition: #{$mdc-shadow-transition_-_transition};
  --mdc-standard-easing: #{$mdc-standard-easing};
  --mdc-decelerated-easing: #{$mdc-decelerated-easing};
  --mdc-accelerated-easing: #{$mdc-accelerated-easing};
}